<div class="header d-flex flex-direction-column">
    <nav class="navbar navbar-inverse header-nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a routerLink="" class="navbar-brand brand-name">
                   Football Stats
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav nav-pills">
                    <li><a routerLink="/league/2001" class="comp">UCL</a></li>
                    <li><a routerLink="/league/2021" class="comp">PREMIER</a></li>
                    <li><a routerLink="/league/2014" class="comp">LA LIGA</a></li>
                    <li><a routerLink="/league/2019" class="comp">SERIE A</a></li>
                    <li><a routerLink="/league/2002" class="comp">BUNDESLIGA</a></li>
                    <li><a routerLink="/league/2015" class="comp">LIGUE 1</a></li>
                    <li><a routerLink="/league/2003" class="comp">EREDIVISIE</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

