.main {
    background: #777 url('https://png.pngtree.com/thumb_back/fh260/back_pic/02/66/84/02578b891c81342.jpg') no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    height: 100vh;
}


